* {
    font-family: Solway;
}

button {
    background: #FFF748;
    color: #3c1a5b;
    border: thin solid #3c1a5b;
    border-radius: 1px;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
}

button:active {
    background: rgb(185, 176, 10);
}

.post {
    padding: 1em;
    border: thin solid #3c1a5b;
    border-radius: 5px;
    margin: 1em 0;
    cursor: pointer;
}

.post:hover {
    color: #FFF748;
    background: #3c1a5b;
}

.comments {
    padding: 1em;
}
