* {
    font-family: 'Solway', serif;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.input {
    padding: 0.7em;
    font-size: 1.3em;
    outline: none;
    border: thin solid #F7882F;
    border-radius: 10px;
    caret-color: #F7882F;
    color: #6b7a8f;
    font-weight: bolder;
}

.input::placeholder {
    color: #b4b4b4;
    opacity: 1;
    /* Firefox */
}

button {
    padding: 1em 2em;
    background: #6b7a8f;
    border: thin solid #4a6488;
    outline: 0;
    color: #f8ffff;
    font-size: 1em;
    border-radius: 7px;
    cursor: pointer;
    font-weight: bolder;
}

button:active {
    background: #f8ffff;
    color: #6B7A8F;
}

header {
    display: flex;
    background-color: #6B7A8F;
    color: #f8ffff;
    padding: 0 1em;
}

main {
    margin: 1em 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer {
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    display: flex;
    padding: 1.5em 1em; 
    background-color: #6b7a8f;
    width: 100%;
    color: #f8ffff;
}